<section id="faq-section">

	<h1>Frequently Asked Questions</h1>
	<br>

	<p><strong>Question:</strong> How much does it cost to post a property?</p>
	<p><strong>Answer:</strong> Nothing, it is free to post a property on our site.
	</p>
	<br>
	
	<p><strong>Question:</strong> How much does it cost to search for properties?</p>
	<p><strong>Answer:</strong> Nothing, that is also free to search for properties on our site.
	</p>
	<br>

	<p><strong>Question:</strong> Where do your propety listings come from?</p>
	<p><strong>Answer:</strong> Currently, they are input by users like yourself.  We are working on importing listings from mainstream sites onto this site, which will produce a much larger property database to search thorugh. <br>
	Keep updated by joining our <b>Newsletter TODO</b> and/or following us on <b>Twitter TODO</b>.
	</p>
	<br>

	<p><strong>Question:</strong> How can I automate by property buying process?</p>
	<p><strong>Answer:</strong> You may set an alert in <%= link_to "Your User Profile", my_account_path %> that updates you when any new property matches are found by our algorithm.
	</p>
	<br>

	<p><strong>Question:</strong> Who is this site intended for?</p>
	<p><strong>Answer:</strong> IPM is made for real estate investors. Since real estate investors usually care more about The Numbers of a property invesment, rather than the emotions of it, we have left out a lot of the emotions.<br> If you are interested in buying a property based on how it feels to you, we recommend using a more traditional home browsing resource, like <%= link_to "Trulia", "http://www.trulia.com", target: "none" %> or <%= link_to "Zillow", "http://www.zillow.com", target: "none" %>.
	</p>
	<br>

	<p><strong>Question:</strong> How long will my property be listed?</p>
	<p><strong>Answer:</strong> Currently, we are removing properties 6 months after the date they are posted. You may renew a listing by clicking "Renew for free" for any of your currently listed properties.
	</p>
	<br>

	<p><strong>Question:</strong> I have some ideas for the site. How do I get them to you?</p>
	<p><strong>Answer:</strong> Email us directly at customerrelations@___.com TODO with any ideas, or contact us via this easy contact form. <br>
	Thank you in advance for your input! We are always looking to make the site more relevant for users.
	</p>
	<br>




</section><!-- end .row -->