
<h1 class="text-left">Matching investment propeties with their buyers, by the numbers.</h1>

<section id="recently-added-properties">
		<h2>Recently uploaded off market properties</h2>
		<p>Array of 3 - 5 pictures of properties with picture, type, location. Use several try. statements in case things aren't added.</p>
</section>

<div class="row">

	<section class="col-sm-6 col-xs-12" id="property-search-section">
		<h2>Search properties</h2>
		<p>search form</p>

	</section>

	<section class="col-sm-6 col-xs-12" id="new-property-section">
		<h2>Input a new property</h2>
		<p>proprety form</p>

	</section>




</div><!-- end .row -->