/*
Project by Alison Ostendorf
team@virgoventures.org
Project name: Investment Property Matchmaker
*/

$main-color: green;
$transparent-white: rgba(255,255,255,0.9);
$navbar-default-bg: $transparent-white;
$navbar-default-toggle-border-color: $transparent-white;
$navbar-default-toggle-icon-bar-bg: $main-color;
$navbar-default-color: $main-color;
$navbar-default-toggle-hover-bg: none;


@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");


a {
	color: $main-color;
}

a:hover {
	color: darken($main-color, 10%);
	text-decoration: none;
	font-weight: 500;
	transition: 0.1s ease-in;
}

.btn {
	margin: 20px;
}

footer {
	border-top: 1px solid gray;
	padding: 20px;
	margin: 20px;
}

h1 {
	font-size: 26px;

}

h2 {
	color: $main-color;
}

.logo {
	width: 60px;
	height: 60px;
	padding: 8px;
}

.logo-footer {
	width: 80px;
	height: 80px;
	padding: 8px;	
}

main {

}

.navbar-brand {
	text-decoration: none;
	color: black;
}


.no-wrap {
	white-space: nowrap;
}

.pages_home section {
	padding: 15px;
}

#recently-added-properties {
	min-height: 100px;
	background: yellow;
}