/*
Project by Alison Ostendorf
team@virgoventures.org
Project name: Investment Property Matchmaker
*/
$transparent-white: rgba(255,255,255,0.9);
$navbar-default-bg: $transparent-white;
$navbar-default-toggle-border-color: $transparent-white;
$navbar-default-toggle-icon-bar-bg: blue;
$navbar-default-color: blue;
$navbar-default-toggle-hover-bg: none;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

footer {
	border-top: 1px solid gray;
	padding: 20px;
	margin: 20px;
}

h1 {
	font-size: 26px;

}

main {

}

#recently-added-properties {
	min-height: 100px;
	background: yellow;
}